<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htcf.system.dao.PubUserDao">
	<!-- 基础方法 start -->
	<select id="get" resultType="com.htcf.system.model.po.PubUser"> <!-- 查询对象 -->
		select t.*,z.dwjc as dwjc
		from T_PUB_USER t LEFT  JOIN T_PUB_ZZJG z on z.DWDM = t.SSDWDM
		where 1=1
		<include refid="common.where"></include>
	</select>

	<select id="count" resultType="int"> <!-- 查询数量 -->
		select count(*)
		from T_PUB_USER t
		where 1=1
		<where>
			<if test="ssdwdm != null and ssdwdm != ''">and t.ssdwdm like '${ssdwdm}%'</if>
		</where>
		<include refid="common.where"></include>
	</select>

	<select id="getSeq" resultType="java.lang.Long"> <!-- 获取序列 -->
		select SEQ_PUB_USER.nextval from dual
	</select>

	<insert id="add" useGeneratedKeys="true" keyProperty="id"> <!-- 新增 -->
		insert into T_PUB_USER
		<include refid="common.insert"></include>
		
	</insert>

	<update id="update"> <!-- 修改 -->
		update T_PUB_USER set
		<include refid="common.update"></include>
	</update>

	<delete id="delete"> <!-- 删除 -->
		delete from T_PUB_USER
		where YHBH = #{0}
	</delete>

	<delete id="batchDelete"> <!-- 批量删除 -->
		delete from T_PUB_USER
		where YHBH in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 基础方法 end -->
	
	
	
	<select id="getBo" resultType="com.htcf.system.model.bo.PubUserBo"
		parameterType="java.util.Map"> <!-- 查询对象 -->
		select
		<if test="yes_no == null or yes_no =='' or yes_no == 1">
			B.JSID,
		</if>
		T.* from T_PUB_USER T
		<if test="yes_no == null or yes_no =='' or yes_no == 1">
			left join
			(select * from T_PUB_AUTH a
			<where>
				<if test="jsid != null and jsid != ''">
					<if test="yes_no == null or yes_no ==''">
						AND a.JSID = #{jsid}
					</if>
					<if test="yes_no != null">
						<if test="yes_no == 1">
							AND a.JSID = #{jsid}
						</if>
						<if test="yes_no == 2">
							AND a.JSID != #{jsid}
						</if>
					</if>
				</if>
			</where>
			) B
			on T.YHBH = B.yhbh
		</if>
		<where>
			1=1
			<if test="yhmc != null and yhmc != ''">
				AND T.yhmc like '%${yhmc}%'
			</if>
			<if test="ssdwdm != null and ssdwdm != ''">
				AND T.ssdwdm like '${ssdwdm}%'
			</if>
			<if test="jsid != null and jsid != ''">
				<if test="yes_no != null and yes_no == 1">
					AND B.JSID = #{jsid}
				</if>
				<if test="yes_no != null and yes_no == 2">
					AND T.YHBH not in(select a.YHBH from T_PUB_AUTH a where
					a.JSID =#{jsid})
				</if>
			</if>
		</where>
	</select>

	<!-- getUserByYyid -->
	<select id="getUserByYyid" resultType="com.htcf.system.model.bo.PubUserBo"
		parameterType="java.util.Map">
		select distinct
		U.* from T_PUB_AUTH t
		left join
		T_PUB_USER
		U
		on t.yhbh = U.yhbh
		where t.yyid = #{yyid}

	</select>

	<!-- getUserAndRoleByYyid -->
	<select id="getUserAndRoleByYyid" resultType="com.htcf.system.model.bo.PubUserBo"
		parameterType="java.util.Map">
		select * from T_PUB_ROLE R
		left join T_PUB_AUTH t on
		t.jsid = R.jsid
		left join T_Pub_USER U on t.yhbh = U.yhbh
		where t.yyid = #{yyid}
		and u.yhzh !='sadmin'
	</select>
	<!-- 批量新增 -->
	<insert id="insertBatch"  parameterType="java.util.List">
		insert into T_PUB_USER(YHBH,YHZH,YHMM,LXDH,SYBZ,YHMC,SSDWDM,CJRXM,CJSJ)
			 <foreach open="(" close=")" collection="list" item="item" index="index" separator="union all"  > 
    	 	 select  
				#{item.yhbh,jdbcType=VARCHAR},
				#{item.yhzh,jdbcType=VARCHAR},
				#{item.yhmm,jdbcType=VARCHAR},
				#{item.lxdh,jdbcType=VARCHAR},
				#{item.sybz,jdbcType=CHAR},
				#{item.yhmc,jdbcType=VARCHAR},
				#{item.ssdwdm,jdbcType=VARCHAR},
				#{item.cjrxm,jdbcType=VARCHAR},
				#{item.cjsj,jdbcType=DATE}
     		 from dual
    		</foreach>
		</insert>
	<!-- 批量修改  -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach open="begin" close=";end;" collection="list" item="item" index="index" separator=";"> 
            update T_PUB_USER 
            <set>
            <if test="item.yhbh!=null and item.yhbh!=''">
                YHBH = #{item.yhbh},
            </if>
            <if test="item.yhzh!=null and item.yhzh!=''">
                YHZH = #{item.yhzh},
            </if>
            <if test="item.lxdh!=null and item.lxdh!=''">
                LXDH = #{item.lxdh},
            </if>
             <if test="item.sybz!=null and item.sybz!=''">
                SYBZ = #{item.sybz},
            </if>
             <if test="item.yhmc!=null and item.yhmc!=''">
                YHMC = #{item.yhmc},
            </if>
             <if test="item.ssdwdm!=null and item.ssdwdm!=''">
                SSDWDM = #{item.ssdwdm},
            </if>
             	GXSJ=sysdate
            </set>
          	  where YHBH = #{item.yhbh}
            </foreach>
    </update>	
	
</mapper>